body {
    font-family: 'lato', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    
}

/* ------- general selectors ------- */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: #ef5839;
    margin-top: 0;
}

a {
    color: #ef5839;
}

a:hover,
a:focus {
    color: cornflowerblue;
}



img {
    width: 100%;
}

ul {
    font-size: 1rem;
}

/* ---------- specific selectors -------- */

.header,
.section,
.footer {
    padding: 45px 0;

}

.container {
    width: 90%;
    max-width: 620px;
    margin: 0 auto;
    border: pink solid 1px;
}


.header,
.footer {
    background: #2e354f;
    color: #fff;
}

.section p {
    margin-top: 30px;
}

.footer p {
    margin-bottom: 25px;
    /* font-weight: 400; */
}

.text-bold {
    font-weight: 900;
}


/* ------------------- buttons style ------------------ */
.btn {
    display: inline-block;
    margin-left: 10px;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: 900;
    font-size: 1rem;
}

.btn:hover,
.btn:focus {
    background-color:cornflowerblue;
    color: #000;
}

.btn-accent {
    background-color: #ef5839;
    color: #fff;
}

.btn-light {
    background-color: #fff;
    color: #000;
}






